*{
    margin:0;
    padding:0;
}

header{
    background-image: url(https://media.istockphoto.com/id/636475496/photo/portrait-of-brown-puppy-with-bokeh-background.jpg?s=612x612&w=0&k=20&c=Ot63dQOYplm0kLJdlSVWbtKGwGkuZfnfdwH5ry9a6EQ=);
    height:1000px;
    background-size:cover;
    background-position-x:center;
}
 .nav-menu li {
    float:right;
    list-style:none;
    margin-top:40px;

 }
 .nav-menu li {
    display:inline-block;
 }
 .nav-menu li a {
    color:black;
    text-decoration:none;
    padding:7px 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:25px;
 }
 .homebtn a {
    border:1px solid grey;
    background-color:white;
 }
 .nav-menu li:hover {
    border:1px solid grey;
    background-color:white;
 }

 .tagline {
    position: absolute;
    width:1200px;
    margin: left 0;
    margin-top:0;
 }

 h1 {
    color:white;
    font-size:30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    margin-top:400px;

 }

 .adopt {
    margin-top:50px;
    margin-left:550px;
 }
 .bttn {
    border:1px solid white;
    padding:10px 15px;
    color: yellow;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:18px;
    text-decoration:none;  
 }
 .adopt a:hover {
    background-color:burlywood;
 }


